/*
 * Customizer CSS
 *
 * Adjusts styling for theme option controls in the Customizer
 *
 * @package Napoli Pro
 */

#customize-control-napoli_theme_options-logo_spacing,
#customize-control-napoli_theme_options-header_spacing,
#customize-control-napoli_theme_options-footer_text {
	margin-top: 16px;
}

#customize-control-napoli_theme_options-scroll_top_title {
	margin-bottom: 0;
}

#customize-control-napoli_theme_options-footer_text textarea {
	height: 4em;
}

/* Custom Font Control */
.customize-control-napoli_pro_custom_font {
	margin-bottom: 24px;
}

.customize-control-napoli_pro_custom_font .actions,
.customize-control-napoli_pro_custom_font_list .actions {
	margin-top: 8px;
}

.customize-control-napoli_pro_custom_font .actions .button.previous {
	margin-right: 4px;
}

.customize-control-napoli_pro_custom_font .actions .button.standard {
	float: right;
}

.customize-control-napoli_pro_custom_font select {
	width: 100%;
}

.customize-control-napoli_pro_custom_font div:hover {
	cursor: default;
}

.customize-control-napoli_pro_custom_font .actions .button:hover {
	cursor: pointer;
}
