.footer-widgets-background {
	padding: 2em 0 0;
	border-bottom: 1px solid rgba(255,255,255,0.1);
	background: #ee4455;
}

.footer-widgets {
	margin-right: -2em;
}

.footer-widgets .widget {
	margin: 0 0 2em;
}

/* Default: Four Column Footer Widgets */
.footer-widget-column {
	float: left;
	box-sizing: border-box;
	padding-right: 2em;
	width: 25%;
}

/* One Column Footer Widgets
* Using Sibling Count: http://andr3.net/blog/post/142
*/
.footer-widget-column:nth-child(1):nth-last-child(1) {
	float: none;
	width: 100%;
}

/* Two Column Footer Widgets */
.footer-widget-column:nth-child(1):nth-last-child(2),
.footer-widget-column:nth-child(2):nth-last-child(1) {
	width: 50%;
}

/* Three Column Footer Widgets */
.footer-widget-column:nth-child(1):nth-last-child(3),
.footer-widget-column:nth-child(2):nth-last-child(2),
.footer-widget-column:nth-child(3):nth-last-child(1) {
	width: 33.3333%;
}

/* Footer Widget Styling */
.footer-widgets .widget {
	border: 1px solid rgba(255,255,255,0.1);
	background: none;
	box-shadow: none;
	color: #fff;
}

.footer-widgets .widget-header {
	margin: 0 0 1em;
}

.footer-widgets .widget-title {
	padding: 0 0 0.75em;
	border-bottom: 1px solid rgba(255,255,255,0.1);
	background: none;
	color: #fff;
}

.footer-widgets .widget a:link,
.footer-widgets .widget a:visited  {
	color: #fff;
}

.footer-widgets .widget a:hover,
.footer-widgets .widget a:active  {
	color: rgba(255,255,255,0.5);
}
