.header-search .header-search-form {
	position: absolute;
	right: 0;
	display: none;
	margin: 0;
	padding: 1em;
	@include background(--navi-submenu-color);
	box-shadow: 0 1px 2px #bbb;
	z-index: 999;
}

.header-search .header-search-form.toggled-on {
	display: block;
}

.header-search .header-search-form .search-form {
	min-width: 300px;
}

.header-search .header-search-icon {
	@include color(--navi-color);
	padding: 1.15em;
	font-size: 15px;
	font-size: 0.9375rem;
	background: none;
}

.header-search .header-search-icon:hover {
	cursor: pointer;
	color: var(--navi-hover-color);
}

.header-search .header-search-icon:focus {
	outline: none;
}

.header-search .header-search-icon .icon-search {
	display: block;
	margin: 0.25rem 0 0;
	padding: 0;
	width: 20px;
	height: 20px;
	fill: currentColor;
}

@media only screen and (max-width: 60em) {
	.header-search .header-search-form {
		position: static;
		display: block !important;
		visibility: visible;
		margin: 1.5em 0;
		padding: 0;
		background: none;
		box-shadow: none;
	}

	.header-search .header-search-form .search-form {
		min-width: auto;
	}

	.header-search .header-search-icon {
		display: none;
	}
}
