.header-navigation-toggle {
	display: none;
}

.header-navigation-wrap {
	background: #fff;
	box-shadow: 0 1px 2px #bbb;
}

.header-navigation-menu {
	position: relative;
	float: left;
	margin: 0 0 0 -1em;
	padding: 0;
	width: 100%;
	list-style-position: outside;
	list-style-type: none;
}

.header-navigation-menu li {
	float: left;
}

.header-navigation-menu a {
	display: block;
	padding: 1em 1.25em;
	text-decoration: none;
	font-size: 15px;
	font-size: 0.9375rem;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.header-navigation-menu > .menu-item-has-children > a:after {
	display: inline-block;
	margin: 0.5em 0 0 0.4em;
	content: '\f431';
	vertical-align: top;
	text-decoration: inherit;
	font-size: 14px;
	font-family: 'Genericons';
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.header-navigation-menu a:link,
.header-navigation-menu a:visited {
	color: #444;
}

.header-navigation-menu a:hover,
.header-navigation-menu a:active {
	color: #999;
}

.header-navigation-menu ul {
	position: absolute;
	z-index: 99;
	display: none;
	margin: 0;
	padding: 0;
	background: #fff;
	box-shadow: 0 1px 2px #bbb;
	color: #444;
	list-style-position: outside;
	list-style-type: none;
}

.header-navigation-menu ul li {
	position: relative;
	float: none;
}

.header-navigation-menu ul a {
	box-sizing: border-box;
	padding: 0.8em 1em;
	min-width: 250px;
	min-width: 16rem;
	border-bottom: 1px solid #eee;
	font-size: 14px;
	font-size: 0.875rem;
	-webkit-transition: none;
	transition: none;
}

.header-navigation-menu ul li:last-child > a {
	border-bottom: none;
}

.header-navigation-menu ul .menu-item-has-children > a:after {
	display: inline-block;
	margin: 0.25em 0 0 0.2em;
	color: #444;
	content: '\f431';
	vertical-align: top;
	text-decoration: inherit;
	font-size: 14px;
	font-family: 'Genericons';
	line-height: 1;
	-webkit-transform:rotate(270deg);
	-moz-transform:rotate(270deg);
	-o-transform:rotate(270deg);
	-ms-transform:rotate(270deg);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.header-navigation-menu li ul ul {
	top: 0;
	left: 100%;
}

.header-navigation-menu li.menu-item-has-children:hover > ul,
.header-navigation-menu li.menu-item-has-children[aria-expanded="true"] > ul {
	display: block;
}

.header-navigation-menu li.current-menu-item > a {
	text-decoration: underline;
}

.header-navigation-menu li.current-menu-item > a:after {
	text-decoration: none;
}
