@use "../_mixins";

/* Magazine Vertical Boxed Widget */
.widget-magazine-vertical-box .left-post {
	float: left;
	box-sizing: border-box;
	padding-right: 0.75em;
	width: 50%;
}

.widget-magazine-vertical-box .small-posts {
	float: right;
	box-sizing: border-box;
	padding-bottom: 0.5em;
	padding-left: 0.75em;
	width: 50%;
}

/* Magazine Posts Columns Widget */
.napoli-magazine-columns-widget {
	padding: 0;
	border: none;
	background: none;
	box-shadow: none;
}

.napoli-magazine-columns-widget .widget-magazine-posts {
	margin-bottom: 0;
}

.widget-magazine-columns .magazine-column-left {
	float: left;
	box-sizing: border-box;
	padding-right: 1em;
	width: 50%;
}

.widget-magazine-columns .magazine-column-right {
	float: right;
	box-sizing: border-box;
	padding-left: 1em;
	width: 50%;
}

.widget-magazine-columns .magazine-column .magazine-column-content {
	margin: 0;
	padding: 1em 1.5em 0.5em;
	max-width: 100%;
	@include mixins.background(--page-background-color);
	box-shadow: 0 1px 2px #bbb;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

@media only screen and (max-width: 75em) {
	.widget-magazine-columns .magazine-column-left {
		padding-right: 0.75em;
	}

	.widget-magazine-columns .magazine-column-right {
		padding-left: 0.75em;
	}
}

@media only screen and (max-width: 40em) {
	.widget-magazine-horizontal-box .magazine-grid-three-columns .post-column:last-child {
		display: none;
	}

	.widget-magazine-columns .magazine-column-left .large-post .entry-meta,
	.widget-magazine-columns .magazine-column-right .large-post .entry-meta,
	.widget-magazine-vertical-box .left-post .large-post .entry-meta {
		display: block;
	}
}

@media only screen and (max-width: 35em) {
	.widget-magazine-columns .magazine-column-left .large-post .entry-title,
	.widget-magazine-columns .magazine-column-right .large-post .entry-title,
	.widget-magazine-vertical-box .left-post .large-post .entry-title {
		font-size: 17px;
		font-size: 1.0625rem;
	}

	/* Magazine Posts Columns Widget */
	.widget-magazine-columns .magazine-column-left,
	.widget-magazine-columns .magazine-column-right {
		float: none;
		padding: 0;
		width: 100%;
	}

	.widget-magazine-columns .magazine-column-left {
		margin-bottom: 1.5em;
	}

	/* Magazine Vertical Boxed Widget */
	.widget-magazine-vertical-box .left-post,
	.widget-magazine-vertical-box .small-posts {
		float: none;
		padding: 0 0 0.5em;
		width: 100%;
	}
}

@media only screen and (max-width: 30em) {
	.widget-magazine-horizontal-box .magazine-grid-three-columns .post-column:last-child {
		display: block;
	}
}

@media only screen and (max-width: 25em) {
	.widget-magazine-columns .magazine-column-left .large-post .entry-title,
	.widget-magazine-columns .magazine-column-right .large-post .entry-title,
	.widget-magazine-vertical-box .left-post .large-post .entry-title {
		font-size: 16px;
		font-size: 1rem;
	}
}

@media only screen and (max-width: 20em) {
	.widget-magazine-columns .magazine-column-left .large-post .entry-title,
	.widget-magazine-columns .magazine-column-right .large-post .entry-title,
	.widget-magazine-vertical-box .left-post .large-post .entry-title {
		font-size: 15px;
		font-size: 0.9375rem;
	}
}
