
/*--------------------------------------------------------------
## Desktop Large ( < 1200px )
--------------------------------------------------------------*/
@media only screen and (max-width: 75em) {
	.widget-magazine-columns .magazine-column-left {
		padding-right: 0.75em;
	}

	.widget-magazine-columns .magazine-column-right {
		padding-left: 0.75em;
	}

	.footer-widgets-background {
		padding: 1.5em 0 0;
	}

	.footer-widgets {
		margin-right: -1.5em;
	}

	.footer-widgets .widget {
		margin: 0 0 1.5em;
	}

	.footer-widget-column {
		padding-right: 1.5em;
	}

	.scroll-to-top-button {
		right: 0.75em;
		bottom: 0.75em;
	}
}

/*--------------------------------------------------------------
## Desktop Medium ( < 1040px )
--------------------------------------------------------------*/
@media only screen and (max-width: 65em) {
	/* Four Column Footer Widgets */
	.footer-widget-column:nth-child(1):nth-last-child(4),
	.footer-widget-column:nth-child(2):nth-last-child(3),
	.footer-widget-column:nth-child(3):nth-last-child(2),
	.footer-widget-column:nth-child(4):nth-last-child(1) {
		width: 50%;
	}

	.footer-widget-column:nth-child(3):nth-last-child(2) {
		clear: left;
	}
}

/*--------------------------------------------------------------
## Desktop Small ( < 960px )
--------------------------------------------------------------*/
@media only screen and (max-width: 60em) {
	/* Header Search */
	.header-search .header-search-form {
		position: static;
		display: block !important;
		visibility: visible;
		margin: 1.5em 0;
		padding: 0;
		background: none;
		box-shadow: none;
	}

	.header-search .header-search-form .search-form {
		min-width: auto;
	}

	.header-search .header-search-icon {
		display: none;
	}

	/* Footer Social Icons */
	.footer-social-icons .social-icons-menu li {
		text-align: center;
	}

	.footer-social-icons .social-icons-menu li a .social-link-text {
		display: none;
	}

	.footer-social-icons .social-icons-menu li a:before {
		float: none;
		margin-right: 0;
		padding: 0.5em;
		background: none;
		font-size: 24px;
	}

	/* Footer Navigation Menu */
	.footer-navigation {
		display: block;
		float: none;
		text-align: center;
	}

	.footer-navigation-menu li {
		display: inline-block;
		float: none;
	}

	.footer-navigation-menu a {
		display: inline-block;
	}
}

/*--------------------------------------------------------------
## Tablet Medium ( < 800px )
--------------------------------------------------------------*/
@media only screen and (max-width: 50em) {
	/* Footer Social Icons */
	.footer-social-icons-wrap {
		padding: 1.5em 0;
	}

	.footer-social-icons .social-icons-menu {
		margin-right: -1.5em;
	}

	.footer-social-icons .social-icons-menu li {
		padding-right: 1.5em;
	}

	/* Three Column Footer Widgets */
	.footer-widget-column:nth-child(1):nth-last-child(3),
	.footer-widget-column:nth-child(2):nth-last-child(2),
	.footer-widget-column:nth-child(3):nth-last-child(1) {
		width: 100%;
	}
}

/*--------------------------------------------------------------
## Mobile Extra Large ( < 640px )
--------------------------------------------------------------*/
@media only screen and (max-width: 40em) {
	/* Footer Social Icons */
	.footer-social-icons .footer-social-icons-title {
		font-size: 17px;
		font-size: 1.0625rem;
	}

	/* Footer Navigation Menu */
	.footer-navigation-menu li,
	.footer-navigation-menu a {
		display: block;
	}

	/* Magazine Widgets */
	.widget-magazine-horizontal-box .magazine-grid-three-columns .post-column:last-child {
		display: none;
	}

	.widget-magazine-columns .magazine-column-left .large-post .entry-meta,
	.widget-magazine-columns .magazine-column-right .large-post .entry-meta,
	.widget-magazine-vertical-box .left-post .large-post .entry-meta {
		display: block;
	}
}

/*--------------------------------------------------------------
## Mobile Large ( < 560px )
--------------------------------------------------------------*/
@media only screen and (max-width: 35em) {
	/* Magazine Widgets */
	.widget-magazine-columns .magazine-column-left .large-post .entry-title,
	.widget-magazine-columns .magazine-column-right .large-post .entry-title,
	.widget-magazine-vertical-box .left-post .large-post .entry-title {
		font-size: 17px;
		font-size: 1.0625rem;
	}

	/* Magazine Posts Columns Widget */
	.widget-magazine-columns .magazine-column-left,
	.widget-magazine-columns .magazine-column-right {
		float: none;
		padding: 0;
		width: 100%;
	}

	.widget-magazine-columns .magazine-column-left {
		margin-bottom: 1.5em;
	}

	/* Magazine Vertical Boxed Widget */
	.widget-magazine-vertical-box .left-post,
	.widget-magazine-vertical-box .small-posts {
		float: none;
		padding: 0 0 0.5em;
		width: 100%;
	}

	/* Footer Widgets */
	.footer-widgets {
		margin-right: 0;
	}

	#footer-widgets .footer-widget-column {
		float: none;
		padding-right: 0;
		width: 100%;
	}
}

@media only screen and (max-width: 30em) {
	/* Author Bio */
	.entry-author .author-avatar {
		float: none;
		margin: 0 0 1em;
		max-width: 100%;
	}

	.entry-author .author-heading .author-title {
		display: block;
		margin: 0 0 0.25em;
	}

	.entry-author .author-heading .author-link {
		display: block;
	}

	.widget-magazine-horizontal-box .magazine-grid-three-columns .post-column:last-child {
		display: block;
	}
}

@media only screen and (max-width: 25em) {
	.widget-magazine-columns .magazine-column-left .large-post .entry-title,
	.widget-magazine-columns .magazine-column-right .large-post .entry-title,
	.widget-magazine-vertical-box .left-post .large-post .entry-title {
		font-size: 16px;
		font-size: 1rem;
	}
}

@media only screen and (max-width: 20em) {
	.widget-magazine-columns .magazine-column-left .large-post .entry-title,
	.widget-magazine-columns .magazine-column-right .large-post .entry-title,
	.widget-magazine-vertical-box .left-post .large-post .entry-title {
		font-size: 15px;
		font-size: 0.9375rem;
	}
}
